---
import BaseLayout from "../layouts/BaseLayout.astro";
import { STORAGE_URL } from "../config/constants";

const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true })).sort(
  (a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime()
);

const pageTitle = "Gallery";
const classNames = "gallery";
---

<BaseLayout pageTitle={pageTitle} classNames={classNames}>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <section class="gallery__grid">
        {
          allPosts.map((post: any) => (
            <a href={`${post.url}`} class="gallery__grid-item">
              <img
                class="gallery__grid-item-image"
                src={`${STORAGE_URL}${
                  (Array.isArray(post.frontmatter.images)
                    ? post.frontmatter.images[0]
                    : post.frontmatter.images
                  )?.path || post.frontmatter.video?.thumbnail
                }`}
                alt={`${STORAGE_URL}${
                  (Array.isArray(post.frontmatter.images)
                    ? post.frontmatter.images[0]
                    : post.frontmatter.images
                  )?.alt || post.frontmatter.video?.alt
                }`}
              />
            </a>
          ))
        }
      </section>
    </div>
  </div>
</BaseLayout>

<script src="../scripts/Gallery.js" type="module"></script>
