---
import { Image } from "astro:assets";
const { url, title, pubDate, tags, images } = Astro.props;
---

<article class="post">
    <h2 class="post__title">{title}</h2>
    <time class="post__time" datetime={pubDate.toString().slice(0, 10)}
        >{pubDate.toString().slice(0, 10)}</time
    >
    <Image
        class="post__media"
        src={images.path}
        alt={images.alt}
        width="300"
        height="300"
    />

    <ul class="post__tags">
        {
            tags.map((tag) => (
                <li class="post__tag">
                    <a href={`/tags/${tag}`}>#{tag}</a>
                </li>
            ))
        }
    </ul>
</article>
