---
import Picture from "./Picture.astro";
import Video from "./Video.astro";
const { url, title, pubDate, tags, images, videos } = Astro.props;
---

<article class="post">
    <div class="post__content">
        {title && <h2 class="post__title">{title}</h2>}
        {
            pubDate && (
                <time
                    class="post__time"
                    datetime={pubDate.toString().slice(0, 10)}
                >
                    {pubDate.toString().slice(0, 10)}
                </time>
            )
        }

        {images && <Picture images={images} />}
        {videos && <Video videos={videos} />}

        {
            tags && (
                <ul class="post__tags">
                    {tags.map((tag: string) => (
                        <li class="post__tag">
                            <a href={`/tags/${tag}`}>#{tag}</a>
                        </li>
                    ))}
                </ul>
            )
        }
    </div>
</article>
