---
import { STORAGE_URL } from "../config/constants";
const { video } = Astro.props;
---

<div class="post__media-video plyr-container">
  <video class="plyr-video" playsinline preload="auto" data-plyr-provider="html5">
    <source src={`${STORAGE_URL}/${video.name}.webm`} type="video/webm" class="desktop-source" />
    <source src={`${STORAGE_URL}/${video.name}.mp4`} type="video/mp4" class="mobile-source" />
    Your browser does not support the video tag. Path: {video.path}
  </video>
</div>
